body {
    margin: 0;
    font-family: Arial;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    background: #2e7d32;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Active tab */
.tab-link.active {
    border-bottom: 2px solid yellow;
    font-weight: bold;
}

.tab-body {
    flex: 1;
}

/* Hide all sections */
.tab-content {
    display: none;
    padding: 20px;
}

/* Show active section */
.tab-content.active {
    display: block;
}

.home {
    text-align: center;
    padding: 50px;
    background: #e8f5e9;
}

.product-container, .service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card, .service-card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
}

form {
    max-width: 400px;
    margin: auto;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
}